<div class="rc-action">{{{ icon }}}<div class="rc-action-content"><h4 class="rc-action-title">{{{title}}} {{{diff}}}</h4><div class="rc-action-footer"><span class="rc-action-datetime">{{{timestamp}}}</span>{{#more}} - {{{.}}}{{/more}}</div></div><div class="rc-list">{{#lines}}{{{ . }}}{{/lines}}</div></div>