.positive{
    color: #62ad80;
}

.negative{
    color: #d12f25;
}

.neutral{
    color: #404040;
}

.mw-specialpage-summary{
    display: none;
}

/**
 * Options bar
 */

.rc-options{
    margin-bottom: 20px;
    font-size: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}

.rc-options::after{
    content: ' ';
    display: block;
    clear: both;
}

.rc-dropdowns{
    float: right;
}

.rc-namespaces{
    float: left;
}

/** On screens lower than 1200px **/
@media screen and (max-width: 1199px) {

    .rc-dropdowns{
        float: left;
        margin-bottom: 10px;
    }
}

.rc-namespaces-links{
    display: inline-block;
    line-height: 32px;
    margin: 0 !important;
    padding: 0 !important;
}

.rc-namespaces-links li{
    display: inline-block;
    margin: 0 5px;
}

.rc-namespaces-links li a:link,
.rc-namespaces-links li a:visited,
.rc-dropdowns select{
    padding: 10px;
    color: #30373b !important;
    background-color: #e7e7e7;
    border-radius: 3px;
    text-decoration: none;
}

.rc-namespaces-links li a:hover{
    color: #e7e7e7 !important;
    background-color: #30373b;
}

.rc-namespaces-links li a.active{
    font-weight: 700;
}

.rc-dropdowns{
    line-height: 32px;
}

.rc-dropdowns select{
    padding: 8px;
    border: none;
    line-height: 30px;
}

.rc-dropdowns select{
    line-height: 30px;
}



/**
 * Loader styles
 */

.rc-loading .rc-root-list{
    opacity: 0.6;
}

.rc-loader{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 32px;
    display: none;
}

.rc-loading .rc-loader{
    display: block;
}



/**
 * Recent Changes rows styles
 */

.rc-date-header{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}

.rc-row{
    margin-bottom: 25px;
}

.rc-row::after{
    content: ' ';
    display: block;
    clear: both;
}

.rc-user-action,
.rc-action{
    overflow: hidden;
}

.rc-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
    background: url('/images/avatars/wikifab_l.gif');
    object-fit: cover;
}

.rc-user-title{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.rc-user-title a,
.rc-user-title a:link{
    color: #30373b !important;
    text-decoration: none;
}

.rc-user-title a:hover{
    color: #2c9ab7 !important;
}

.rc-action{
    color: #57677d;
    font-size: 12px;
    margin-bottom: 20px;
}

.rc-action .label{
    float: left;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 0;
}

.rc-action > .rc-list{
    max-height: 0;
    margin-top: 0;
    margin-left: 20px;
    overflow: hidden;
    transition: max-height .25s, margin-top 0.4s;
}

.rc-action > .rc-list.opened{
    max-height: 1000px;
    margin-top: 20px;
    transition: max-height .25s, margin-top 0.2s;
}

.rc-action-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #30373b;
    margin: 0;
    margin-bottom: 5px;
}

.rc-action-content{
    overflow: hidden;
}

.rc-action p{
    font-size: 14px;
    margin-bottom: 5px;
}

.rc-action-footer a{
    text-decoration: none;
}

.rc-action-footer a:link,
.rc-action-footer a:visited{
    color: #57677d;
}

.rc-toggle-list::after{
    content: '\f107';
    font-family: FontAwesome, serif;
}

.rc-toggle-list.opened::after{
    content: '\f106';
    font-family: FontAwesome, serif;
}

/**
 * Icons
 */

.rc-icon{
    float: left;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 0;
    border-radius: 3px;
    background: #337ab7;
}

.rc-icon::after{
    display: inline;
    content: "\f129";
    color: #ffffff;
    font-family: 'FontAwesome';
    font-style: normal;
}

/** New icon**/
.rc-icon-new{
    background: #5cb85c;
}

.rc-icon-new::after{
    content: "\f067";
}

/** Edit icon **/
.rc-icon-edit{
    background: #f0ad4e;
}

.rc-icon-edit::after{
    content: "\f040";
}

/** Delete icon **/
.rc-icon-delete{
    background: #d9534f;
}

.rc-icon-delete::after{
    content: "\f1f8";
}

/** Move icon **/
.rc-icon-move{
    background: #5bc0de;
}

.rc-icon-move::after{
    content: "\f047";
}

/** Upload icon **/
.rc-icon-upload{
    background: #563d7c;
}

.rc-icon-upload::after{
    content: "\f093";
}

/** Pagelang icon **/
.rc-icon-pagelang{
    background: #777777;
}

.rc-icon-pagelang::after{
    content: "\f0ac";
}

/** Newusers icon **/
.rc-icon-newusers{
    background: #e123d8;
}

.rc-icon-newusers::after{
    content: "\f007";
}